.footer{
    /* position: fixed; */
    left: 0;
    bottom: 0;
    width: 100%;
}

.card{
    width: 20rem;
    
    /* height: 20rem; */
}

.card.card-img-top{
    width: 100%;
}

.login{
    height: 83vh;
}